* {
  box-sizing: border-box;
}

body {
  background: #ecf0f5 !important;
}

.root {
  width: 80%;
  margin: 0 auto;
}

.header-img {
  width: 100%;
}

form {
  background: #fff;
  padding: 15px;
  border-top: 3px solid #d2d6de; 
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.35);
}

label, option {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: #646464;
}

.form-section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(233, 139, 139, 0.842);
  padding: 10px;
}

form :first-child {
  border-top: none;
}

.form-section-name {
  color: blue;
}

.star {
  color: rgba(233, 139, 139, 0.842);
}

.form-group {
  min-width: 30%;
}

.bottom-form-group, .top-form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#affidavit {
  width: 65%;
}

.main-footer {
  /* overflow: hidden; */
  background: #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
}

footer  {
  /* position: relative; */
  bottom: 0;
}

/* 'Source Sans Pro',sans-serif; */